/* default adjustments */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --background: #350000;
    --nav-bg: #460000;
    --float-bg: #970000;
    --default-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    --default-transition: 250ms;
    --background-alt: #E5694C;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 214vh;
    background: linear-gradient(var(--background), var(--nav-bg), var(--float-bg), var(--background-alt), var(--background-alt));
    overflow-x: hidden;
}
footer {
    position: relative;
    bottom: -40px;
    font-size: 0.9em;
    font-family: var(--default-font);
}
/* Credit section */
.creds {
    width: 90vw;
    height: 85vh;
    background: url("sec1bg.png");
    border: 2px solid black;
    justify-self: center;
    position: absolute;
    top: 5em;
    box-shadow: 5px 5px 5px black;
    font-family: var(--default-font);
    justify-content: center;
    display: flex;
}
.credCard {
width: 30vw;
height: 40vh;
background: radial-gradient(var(--background), var(--background-alt), var(--background));
box-shadow: 5px 5px 5px black, 1px 1px 5px black inset;
border: 2px solid black;
border-radius: 25px;
text-align: center;
align-items: center;
color: white;
font-size: 2.83em;
padding: 2px;
text-shadow: 1px 1px 1px black;
transition: 250ms;
position: absolute;
left: -400px;
bottom: -500px;
opacity: 0;
text-decoration: underline;
}
#move {
    font-size: 3em;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--background-alt);
    color: white;
    border: 1px inset white;
    font-family: var(--default-font);
    justify-self: center;
}
.active {
    opacity: 1;
    left: 65vh;
    top: 20vh;
    transform: scale(1.3);
}
/* navbar related */
.navbar {
    display: flex;
    width: 100vw;
    height: 8vh;
    background: url("nav.png");
    justify-content: center;
    position: fixed;
    align-items: center;
    z-index: 999;
    box-shadow: 5px 5px 5px black;
}
#logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
}
#logoText {
    position: absolute;
    left: 75px;
    font-family: var(--default-font);
    color: white;
}
li {
    list-style-type: none;
    font-family: var(--default-font);
    margin-right: 30px;
    font-size: 1.1em;
}
.links {
    text-decoration:none;
    color: white;
    display: flex;
    transition: 250ms;
}
/* navbar interactivity */ 
.links::before {
content: '';
position: absolute;
width: 0px;
height: 5px;
transition: 250ms;
background-color: white;
bottom: 10px;
box-shadow: 1px 1px 5px inset var(--background);
}
.links:hover::before {
width: 3.5em;
}
/* section 1: hero */ 
#hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    transition: var(--default-transition);
    justify-self: center;
    box-shadow: 3px 3px 5px black;
}
#heroImage1 {
    width: 100%;
    height: 100%;
}
.movement {
width: 5vw;
border: none;
opacity: 0.6;
position: absolute;
height: 100%;
background-color: black;
transition: var(--default-transition);
z-index: 2;
}
#rightButton {
right: 0px;
}
#leftButton {
left: 0px;
}
#heroMainText {
    color: white;
    z-index: 2;
    background-color: transparent;
    font-size: 3em;
    font-family: var(--default-font);
    text-shadow: 1px 1px 3px white;
}
#heroSubtext {
    color: white;
    font-family: var(--default-font);
    background-color: transparent;
    z-index: 2;
    font-size: 1.5em;
    text-decoration: overline;
}
#heroSubtext::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: white;
}
.heroTextContainer {
    width: fit-content;
    height: fit-content;
    backdrop-filter: blur(3px);
    background-color: transparent;
    align-items: center;
    position: absolute;
    left: 30%;
    top: 40%;
    z-index: 2;
    box-shadow: 5px 5px 5px black, 1px 1px 5px black inset;
    text-align: center;
}
/* section 1: hero interactivity */
.movement:hover {
background-color: whitesmoke;
font-size: 1.5em;
}
/* section 2: content */
#content {
width: 95vw;
background-image: url("sec1bg.png");
height: 100vh;
margin-top: 5vh;
justify-self: center;
border-radius: 10px;
box-shadow: 3px 5px 10px black;
}
#contentImage {
    width: 36em;
    height: 33em;
    position: absolute;
    left: 200px;
    margin-top: 100px;
    border: 10px solid black;
}
#contentText {
    font-size: 1.5em;
    color: white;
    grid-column: 2/2;
    text-align: justify;
    position: absolute;
    left: 800px;
    margin-top: 150px;
    font-family: var(--default-font);
    text-decoration: underline;
    box-shadow: 3px 3px 3px inset black, 3px 3px 3px black;
    padding: 3px;
    backdrop-filter: blur(20px);
    text-shadow: 1px 1px 1px black;
}
.twitchLink {
    color: rgb(227, 155, 255);
    cursor: pointer;
    transition: 250ms;
    text-decoration: none;
}
.twitchLink:hover {
    color: rgb(185, 87, 255);
}
@media screen and (max-width: 800px) {
    body {
        background: var(--background-alt);
    }
    #heroMainText {
    color: white;
    z-index: 2;
    background-color: transparent;
    font-size: 1.5em;
    font-family: var(--default-font);
    text-shadow: 1px 1px 3px white;
}
#heroSubtext {
    color: white;
    font-family: var(--default-font);
    background-color: transparent;
    z-index: 2;
    font-size: 0.75em;
    text-decoration: overline;
}
#contentImage {
    width: 23em;
    height: 23em;
    position: absolute;
    left: 200px;
    margin-top: 75px;
    border: 10px solid black;
}
#contentText {
    font-size: 2vw;
    color: white;
    grid-column: 2/2;
    text-align: justify;
    position: absolute;
    left: 200px;
    margin-top: 450px;
    font-family: var(--default-font);
    text-decoration: underline;
    box-shadow: 3px 3px 3px inset black, 3px 3px 3px black;
    padding: 3px;
    backdrop-filter: blur(20px);
    text-shadow: 1px 1px 1px black;
}
.links {
    text-decoration:none;
    color: var(--background-alt);
    display: flex;
    transition: 250ms;
}
.active {
    left: 30vh;
    top: 19vh;
    font-size: 0.9em;

}
}
@media screen and (max-width: 1300px) {
    #content {
        font-size: small;
    }
    #contentText {
        left: 55vw;
        margin-top: 15vh;
    }
    #contentImage {
        left: 10vw;
    }
}
@media screen and (max-width: 500px) {
    html {
        transform: scaleX(0.9);
    }
    body {
        background: var(--background-alt);
    }
    #heroMainText {
    color: white;
    z-index: 2;
    background-color: transparent;
    font-size: 0.8em;
    font-family: var(--default-font);
    text-shadow: 1px 1px 3px white;
}
#heroSubtext {
    color: white;
    font-family: var(--default-font);
    background-color: transparent;
    z-index: 2;
    font-size: 0.375em;
    text-decoration: overline;
}
#hero {
    object-fit: contain;
}
#contentImage {
    width: 13em;
    height: 13em;
    position: absolute;
    left: 150px;
    margin-top: 100px;
    border: 10px solid black;
    transform: scale(1.6);
}
#contentText {
    font-size:larger;
    color: white;
    grid-column: 2/2;
    text-align: justify;
    position: absolute;
    left: 75px;
    margin-top: 350px;
    font-family: var(--default-font);
    text-decoration: underline;
    box-shadow: 3px 3px 3px inset black, 3px 3px 3px black;
    padding: 3px;
    backdrop-filter: blur(20px);
    text-shadow: 1px 1px 1px black;
}
.links {
    text-decoration:none;
    color: var(--background-alt);
    display: flex;
    transition: 250ms;
    font-size: 0.7em;
}
.active {
    left: 17vh;
    top: 19vh;
    font-size: 0.9em;
    height: 25%;
}
#logoText {
    color: transparent;
    display: none;
}
.navbar {
    justify-self: center;
    border: 2px solid black;
    box-shadow: none;
}
}
